<% @astronauts.each do |astronaut| %>
  <%= astronaut.name %>
  <%= astronaut.age %>
  <%= astronaut.job %>
<% end  %>
<p>Average Age : <%= @average_age %></p>

<% @astronauts.missions.each do |mission| %>
<%= mission.title %>
<% end %>
